
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: cursive;
}

header{
    position:fixed;
}

.navigation{
    text-align: center;
}

.nav-menu{
    padding-left: 10px;
}

li{
    list-style-type:none;
    position:relative;
    width:120px;
    }
                
    li a{
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    width:160px;
    
    color:#fff;
    text-decoration: none;
    background: linear-gradient(yellow,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
            
    li a:hover{
    transition-delay: 0,2s;
    background: linear-gradient(rgba(134,66,103,1),rgba(65,43,97,1));
    -webkit-background-clip:border-box;
    -webkit-text-fill-color: white;
    }
            
    .more{
        display:inline-block;
        position:absolute;
        right:0px;
        font-size:30px;
    }   
    
    nav li ul{
        display:none;
        position:absolute;
        top:0px;
        left:120px;
        
    }
            
    nav li:hover ul{display:block;}
        

.theme {
    padding: 5px 50px 0px 50px;
    background-image: linear-gradient(100deg, rgba(117, 158, 158, 0.186) 39%, rgba(51, 56, 57, 0.09) 96%)
    ,url(img/aoe-VI.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 14.1cm;
    width: 100%;
}

.nombre{
    text-align: center;
    color: rgb(230, 230, 230);
    margin-block-start: 13em;
}

.nombre h1{
    font-size: 40px;
}

.nombre audio{
    margin: 140px 0px 300px 720px;
}

article .grid{
    height: 14.1cm;
    width: 100%; 
}


.grid-container{
    justify-content: space-evenly;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 5px;
    background: rgb(245, 245, 245);
    padding: 55px 80px;
}
.grid-item1{
    text-align: center;
    width: 45em;
    height: 9.375em;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    position: relative;

}

.grid-item1 h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: -webkit-linear-gradient(yellow 10%, red 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.grid-item1 h3::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: linear-gradient(rgba(134,66,103,1),rgba(65,43,97,1));
    -webkit-background-clip:border-box;
    -webkit-text-fill-color: white;
    bottom: 0;
    left: 0;
}

.grid-item2{
    width: 50em;
    height: 9.375em;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

.grid-item2 img{
    height: 220px;
}
.grid-item2 p{
    font-size: 22px;
    background: -webkit-linear-gradient(yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-left: 35px;
}


.grid-item3{
    margin-top: -40px;
    margin-left: 200px;
    text-align: center;
    width: 40em;
    height: 9.375em;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 8;
}
.grid-item3 p{
    margin: -40px;
    padding: 10px 20px 10px 30px;
    color: rgb(40, 49, 49);
    font-size: 16px;

}
.grid-item4{
    background: yellow;
    text-align: center;
    border: 5px solid black;
    width: 40em;
    height: 9.375em;
    margin-left: 250px;
    margin-top: -95px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 8;
}
.grid-item4 table{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid blue
}

.grid-item5{
    background: green;
    text-align: center;
    border: 5px solid black;

}
.grid-item6{
    background: orange;
    text-align: center;
    border: 5px solid black;
}
.grid-item7{
    background: rgb(23, 156, 201);
    text-align: center;
    border: 5px solid black;
}
.grid-item8{
    background: violet;
    text-align: center;
    border: 5px solid black;

}
.grid-item9{
    background: gray;
    text-align: center;
    border: 5px solid black;

}

#habilidades{
    padding: 10cm 100px;
}

#habilidades h1{
    text-align: center;
}

#final{
    padding: 5cm 50px;
    text-align: center;
    display:block;
}

button{
    transform: none;
    box-shadow: none;
}

button:hover{
    background-color: gray;
    cursor: pointer;
}
