*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: rgb(22, 7, 19);
}
.bar{
    padding: 50px;
}
.navigation{
    justify-content: center;
}

.navigation:hover{
    color: #fff;
}

.navigation a{
    display: flex;
    padding: 10px;
    text-align: center;
}

.theme {
    padding: 100px;
    background-image: linear-gradient(100deg, rgba(117, 158, 158, 0.186) 39%, rgba(51, 56, 57, 0.09) 96%)
    ,url(img/aoe-VI.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    max-width: 100%;
    height: 519px;
}
.nombre-theme{
    background-size: 500px;
}

.nombre{
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    color: rgb(230, 230, 230);
    margin-block-start: 13em;
}
    